@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

// Colors

// Primary
$Strongcyan: hsl(172, 67%, 45%);

// Neutral
$Verydarkcyan: hsl(183, 100%, 15%);
$Darkgrayishcyan: hsl(186, 14%, 43%);
$Darkgrayishcyan2: hsl(184, 14%, 56%);
$Lightgrayishcyan: hsl(185, 41%, 84%);
$Lightgrayishcyan2: hsl(189, 41%, 97%);
$White: hsl(0, 0%, 100%);


$fuente:  'Space Mono', monospace;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: $fuente;
}
input[type="number"]:focus{
    outline: 1px solid $Strongcyan;
}
.bg{
    width: 100vw;
    height: 100vh;
    background: $Lightgrayishcyan;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 85%;
}

.title{
    width: 100%;
    height: 100%;
    &-img{
        background-image: url('../images/logo.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 75px;
        height: 75px;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.container{
    width: 100%;
    height: 100%;
    background: $White;
    padding: 25px;
    border-radius: 30px 30px 0 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 35% 15% 35%;
    &-bill{
        width: 100%;
        height: 100%;
        &-title{
            height: 30%;
            & p{
            font-size: 1.4rem;
            color: $Darkgrayishcyan;
            font-weight: 700;
            }
        } 
        &-input{
            width: 100%;
            height: 50%;
            background: $Lightgrayishcyan2;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 15px;

            & div{
                background-image: url('../images/icon-dollar.svg');
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                width: 15px;
                height: 15px;
                display: inline-block;
            }
            & input{
                width: 90%;
                height: 70%;
                background: transparent;
                border: none;
                text-align: right;
                font-size: 2.2rem;
                font-weight: 700;
                color: $Verydarkcyan;
            }
        }
    }
    &-tip{
        width: 100%;
        height: 100%;
        &-title{
            height: 15%;
            & p{
                font-size: 1.4rem;
                color: $Darkgrayishcyan;
                font-weight: 700;
            }
        }
        &-percentage{
            width: 100%;
            height: 85%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: stretch;
            & input{
                width: 47%;
                height: 40px;
                border: none;
                border-radius: 5px;
                background: $Verydarkcyan;
                color: $White;
                font-size: 2rem;
                font-weight: 600;
                cursor: pointer;
                text-align: center;
            }
            & input[type='button']:hover{
                background: $Strongcyan;
            }
            // Add this class to active the button
            & input.container-tip-percentage-active{
                background: $Strongcyan;
                color: $Verydarkcyan;
            }
            & input[type='number']{
                text-align: right;
                padding: 0 20px;
                background: $Lightgrayishcyan2;
                color: $Verydarkcyan;
            }
        }
    }
    &-people{
        width: 100%;
        height: 100%;
        &-title{
            height: 30%;
            & p{
            font-size: 1.4rem;
            color: $Darkgrayishcyan;
            font-weight: 700;
            }
        } 
        &-input{
            width: 100%;
            height: 50%;
            background: $Lightgrayishcyan2;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 15px;

            & div{
                background-image: url('../images/icon-person.svg');
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                width: 15px;
                height: 15px;
                display: inline-block;
            }
            & input{
                width: 90%;
                height: 70%;
                background: transparent;
                border: none;
                text-align: right;
                font-size: 2.2rem;
                font-weight: 700;
                color: $Verydarkcyan;
                &::placeholder {
                    opacity: 1;
                    font-size: 1.6rem; 
                  }
            }
        }
    }
    &-result{
        width: 100%;
        height: 100%;
        background: $Verydarkcyan;
        border-radius: 15px;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        &-tip{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &-info{
                & p{
                    font-size: 1.3rem;
                    font-weight: 500;
                    color: $Lightgrayishcyan2;
                }
                & span{
                    font-size: 1.2rem;
                    color: $Darkgrayishcyan2;
                }
            }
            &-value{
                color: $Strongcyan;
                font-size: 2.9rem;
                font-weight: 600;
            }
        }
        &-total{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &-info{
                & p{
                    font-size: 1.3rem;
                    font-weight: 500;
                    color: $Lightgrayishcyan2;
                }
                & span{
                    font-size: 1.2rem;
                    color: $Darkgrayishcyan2;
                }
            }
            &-value{
                color: $Strongcyan;
                font-size: 2.9rem;
                font-weight: 600;
            }
        }
        &-reset{
            width: 100%;
            height: 45px;
            & button{
                width: 100%;
                height: 100%;
                border-radius: 5px;
                background: $Strongcyan;
                border: none;
                color: $Verydarkcyan;
                font-size: 1.6rem;
                font-weight: 700;
            }
        }
    }
}


@media screen and (min-width: 768px) {
    .bg{
        grid-template-rows: 25% 75%;
    }
    .container {
        align-self: flex-start;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 25% 50% 25%;
        max-height: 400px;
        max-width: 700px;
        border-radius: 30px;
        margin: 0 auto;
        // grid-gap: 20px;
        &-bill{
            grid-column: 1/2;
            grid-row: 1/2;
            width: 95%;
            justify-self: flex-start;
        }
        &-tip{
            grid-column: 1/2;
            grid-row: 2/3;
            width: 95%;
            justify-self: flex-start;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            &-percentage{
                height: 60%;
                justify-content: space-between;
                align-content: space-around;
                align-items: center;
                & input{
                    width: 30%;
                }
                & input[type='number']{
                    &::placeholder{
                        font-size: 1rem;
                    }
                }
            }
        }
        &-people{
            grid-column: 1/2;
            grid-row: 3/4;
            width: 95%;
            justify-self: flex-start;
        }
        &-result{
            grid-column: 2/3;
            grid-row: 1/4;
            width: 95%;
            justify-self: flex-end;
        }
    }
  }

